Report/flow.json
[
    {
        "id": "2f3c0713.301e4",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a48c7d8d.51a068",
        "type": "tcp in",
        "z": "2f3c0713.301e4",
        "name": "",
        "server": "server",
        "host": "localhost",
        "port": "9000",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "",
        "base64": false,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "8c1aa232.b33008"
            ]
        ]
    },
    {
        "id": "86c33328.c78e6",
        "type": "mqtt out",
        "z": "2f3c0713.301e4",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "d3fa694e.2660b",
        "x": 830,
        "y": 320,
        "wires": []
    },
    {
        "id": "8c1aa232.b33008",
        "type": "function",
        "z": "2f3c0713.301e4",
        "name": "filter msgs",
        "func": "if (msg.payload.includes(\"PUBLISH\")){\n    splitted = msg.payload.split(\"\\t\");\n    topic = splitted[2].slice(-1);\n    value = splitted[3].slice(8);\n    \n    topic = String(Number(topic)+1);\n    msg.topic = \"channels/2204090/publish/fields/field\"+topic;\n    msg.payload = Number(value);\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 280,
        "wires": [
            [
                "72a073f4.3d0744"
            ]
        ]
    },
    {
        "id": "b0df955d.29369",
        "type": "debug",
        "z": "2f3c0713.301e4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 800,
        "y": 200,
        "wires": []
    },
    {
        "id": "72a073f4.3d0744",
        "type": "delay",
        "z": "2f3c0713.301e4",
        "name": "",
        "pauseType": "rate",
        "timeout": "20",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 590,
        "y": 320,
        "wires": [
            [
                "86c33328.c78e6",
                "b0df955d.29369"
            ]
        ]
    },
    {
        "id": "d3fa694e.2660b",
        "type": "mqtt-broker",
        "z": "",
        "name": "Thingspeak",
        "broker": "mqtt3.thingspeak.com",
        "port": "1883",
        "clientid": "CxwDGwoJEzojOC8zHT0XKzk",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]
