flow.json
[{"id":"57ea9767.92a3c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"8e126cf4.ba598","type":"tcp in","z":"57ea9767.92a3c","name":"","server":"server","host":"localhost","port":"9000","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":130,"y":160,"wires":[["b05d318e.265c98"]]},{"id":"9709b079.9e5f9","type":"debug","z":"57ea9767.92a3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":430,"y":40,"wires":[]},{"id":"9770f0e4.7d0378","type":"mqtt out","z":"57ea9767.92a3c","name":"","topic":"","qos":"0","retain":"false","broker":"d3fa694e.2660b","x":590,"y":300,"wires":[]},{"id":"b05d318e.265c98","type":"function","z":"57ea9767.92a3c","name":"filter msgs","func":"if (msg.payload.includes(\"PUBLISH\")){\n    splitted = msg.payload.split(\"\\t\");\n    topic = splitted[2].slice(-1);\n    value = splitted[3].slice(8);\n    \n    topic = String(Number(topic)+1);\n    msg.topic = \"channels/2204090/publish/fields/field\"+topic;\n    msg.payload = Number(value);\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["bfe23bda.436bd8","9770f0e4.7d0378"]]},{"id":"bfe23bda.436bd8","type":"debug","z":"57ea9767.92a3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":620,"y":180,"wires":[]},{"id":"d3fa694e.2660b","type":"mqtt-broker","z":"","name":"Thingspeak","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"CxwDGwoJEzojOC8zHT0XKzk","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
